<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                ZXF-LOGBACK %d{yyyy-MM-dd HH:mm:ss.SSS} - GlobalId=%X{GlobalId} TraceId=%X{TraceId} %-5level  [%thread] %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <!-- env does not work -->
    <logger name="org.apache" level="${3RD_PARTY_LEVEL:-INFO}" />
    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
<!--    <statusListener class="ch.qos.logback.core.status.OnErrorConsoleStatusListener"/>-->
</configuration>